.dh-index-pattern-option-dropdown {
  .ant-select-item-option {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .ant-select-item-option-content {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
}
